.header-container {
    height: 70px;
    display: flex;
    position: fixed;
    background-color: white;
    width: 100vw;
    z-index: 100;
}

.left-header {
    width: 275px;
    margin-right: 75px;
    display: flex;
    margin-top: 20px;
}

.middle-header {
    flex: 1;
    display: flex;
    justify-content: center;
}

.right-header {
    width: 220px;
    margin-left: 80px;
    display: flex;
    align-items: center;
}

.hamburger-icon {
    width: 25px;
}

.header-logo {
    width: 120px;
}

.hamburger-logo {
    display: flex;
    height: 25px;
    margin: 0 23px;
}

.search-input {
    margin-top: 10px;
    height: 50px;
    flex: 1;
    max-width: 650px;
    min-width: 0;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
    border: 1px solid lightgray;
    box-shadow: inset 1px 1px 2px rgb(202, 202, 202);
    font-size: 16px;
    font-family: "Roboto", Arial;
    padding-left: 20px;
    padding-top: 4px;
}


.search-input::placeholder {
    font-size: 19px;
    font-weight: 450;
    color: rgb(136, 136, 136);
    margin: 0;
    font-family: "Roboto thin", Arial;
}


.search-icon {
    height: 25px;
    margin-right: 4px;
}

.search-button {
    margin-top: 10px;
    height: 50px;
    width: 80px;
    border-top-right-radius: 24px;
    border-bottom-right-radius: 24px;
    border: 1px solid lightgray;
    margin-left: -1px;
    background-color: rgb(243, 243, 243);
}

.search-button:hover {
    background-color: rgb(238, 238, 238);
    box-shadow: 1px 1px 3px rgba(200, 200, 200, 0.871);
    cursor: pointer;
}

.mic-icon {
    height: 24px;
}

.mic-button {
    margin-top: 10px;
    height: 48px;
    width: 48px;
    margin-left: 20px;
    border-radius: 24px;
    border: none;
}

.mic-button:hover {
    background-color: rgb(206, 206, 206);
    cursor: pointer;
}

.create-icon, .bell-icon, .user-pfp {
    height: 36px;
}

.create-icon, .bell-icon {
    margin-right: 30px;
}

.user-pfp {
    border-radius: 18px;
}

a {
    height: 0;
    margin: 0;
    padding: 0;
}

.notification-container {
    position: relative;
    height: 36px;
    width: 36px;
    margin-right: 20px;
    padding: 4px;
}

.notification-container:hover {
    background-color: lightgrey;
    border-radius: 22px;
    cursor: pointer;
}

.create-container {
    height: 36px;
    width: 36px;
    margin-right: 15px;
    padding: 6px;
}

.create-container:hover {
    background-color: lightgrey;
    border-radius: 26px;
    cursor: pointer;
}

.notification-counter {
    position: absolute;
    background-color: rgb(197, 2, 2);
    color: white;
    top: -3px;
    right: -6px;
    padding: 2px 5px;
    border-radius: 12px;
    font-size: 13.5px;
    border: 2px solid white;
}

.user-pfp-container {
    height: 36px;
    width: 36px;
    padding: 8px;
}

.user-pfp-container:hover {
    cursor: pointer;
}